/* Job Description Styling */
.job-description h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #111827;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.job-description h3:first-child {
  margin-top: 0;
}

.job-description p {
  margin-bottom: 1rem;
  line-height: 1.8;
}

.job-description ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}

.job-description li {
  margin-bottom: 0.5rem;
  line-height: 1.8;
}

.job-description strong {
  font-weight: 600;
  color: #111827;
}

